/*
 *Media Queries
 */

@media(max-width:767px) {
}
@media(min-width:768px) {
}
@media(min-width:992px) {
}
@media(min-width:1200px) {
}

/*
 *Styles
 */

.oblique {
    font-style: oblique;
}
.strong {
    font-weight: 700;
}

/*
 *Body
 */

html, body {
    height: 100%;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

#cover {
    background-image: url("../img/aaron.jpg");
    background-size: cover;
    background-position: center top;
    height: 100%;
}

#fixed-box {
    width: 100%;
    bottom: 5%;
    position: absolute;
}

#fixed-box .center {
    font-family: 'Ek Mukta', Arial, sans-serif;
    padding: 12px 48px 24px 48px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#fixed-box .center h1 {
    font-weight: 200;
    font-size: 80px;
    line-height: 70px;
}

h1.title {
    padding: 50px 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Ek Mukta', Arial, sans-serif;
    font-style: oblique;
    text-align: center;
}

#endorsements {
    margin-top: 36px;
}

.carousel .col-lg-4 {
    text-align: center;
}

footer {
    /*font-size: 16px;*/
    margin-bottom: 24px;
}

footer .pull-left,
footer .pull-right {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 0;
}

#ams {
    width: 100%;
    max-width: 747px;
    display: inline-block;
}
